{
  {{#files}}
  "{{{dest}}}": {
    {{#sprites}}
    "{{name}}": {
      "name": "{{name}}",

      "w": {{width}},
      "h": {{height}},
      "x": {{offsetX}},
      "y": {{offsetY}},

      "fw": {{frameWidth}},
      "fh": {{frameHeight}},
      "fx": {{frameRegX}},
      "fy": {{frameRegY}}
    }{{^isLast}},{{/isLast}}
    {{/sprites}}
  }{{^isLastFile}},{{/isLastFile}}
  {{/files}}
}
